<article class="card">
  <div class="card-img-wrapper overlay-rounded-top">
    <img class="card-img-top" src="{{ .Params.image | absURL }}" alt="{{ .Title }}">
  </div>
  <div class="card-body p-0">
    <div class="d-flex">
      <div class="py-3 px-4 border-right text-center">
        <h3 class="text-primary mb-0">{{ .PublishDate.Format "02" }}</h3>
        <p class="mb-0">{{ .PublishDate.Format "Jan" }}</p>
      </div>
      <div class="p-3">
        <a href="{{ .Permalink }}" class="h4 font-primary text-dark">{{ .Title }}</a>
        <p>by {{ .Params.Author }}</p>
      </div>
    </div>
  </div>
</article>