{{ "<!-- project item -->" | safeHTML }}
<div class="col-lg-3 col-md-4 col-sm-6 p-0 filtr-item" data-category="{{ .Params.Category | urlize }}">
  <div class="position-relative">
    
    <a href="{{ .Permalink }}"><img class="img-thumbnail" style="width:300px; height: 150px;" src="{{ .Params.Image | absURL }}" alt="project-image"></a>
    <div class="project-info">
      <a  href="{{ .Permalink }}" class="h4">{{ .Title }}</a>
      <p><i class="ti-tag"></i>{{ .Params.Category | humanize }}</p>
    </div>
  </div>
</div>