{{ define "main" }}

{{ partial "pageTitle.html" . }}

{{ "<!-- project single -->" | safeHTML }}
<section class="section">
	<div class="container">
		<div class="row">
			<aside class="col-lg-4 order-lg-1 order-2">
				{{ "<!-- overview -->" | safeHTML }}
				<div class="p-4 rounded border mb-50">
					<h4 class="text-color mb-20">{{ i18n "overview" }}</h4>
					<ul class="pl-0 mb-20">
						<li class="py-3 border-bottom"><span class="d-inline-block" style="width: 140px;">{{ i18n "project_name" }}:</span>{{ .Title }}</li>
						{{ range .Params.Overview }}
						<li class="py-3 border-bottom"><span class="d-inline-block" style="width: 140px;">{{ .label }}:</span>{{ .data }}</li>
						{{ end }}
					</ul>
					{{ if .Params.Live_demo }}
					<a href="{{ .Params.live_demo | safeURL }}" class="btn btn-primary">{{ i18n "live_demo" }}</a>
					{{ end }}
				</div>
				{{ "<!-- case study -->" | safeHTML }}
				{{ if .Params.Case_study }}
				<div class="rounded bg-gray border py-3 px-4 mb-50">
					<i class="d-inline-block mr-1 text-dark ti-files" style="font-size: 20px;"></i>
					<h4 class="mb-1 d-inline-block">{{ i18n "case_study" }}</h4>
					<a class="font-secondary text-color d-block ml-4"
						href="{{ .Params.Case_study | safeURL }}">{{ i18n "download_pdf" }}</a>
				</div>
				{{ end }}

				<div class="mb-50">
					<h5 class="mb-20">{{ i18n "free_consultation" }}</h5>
					{{partial "contactform.html"}}
				</div>
			</aside>
			{{ "<!-- project content -->" | safeHTML }}
			<div class="col-lg-8 order-lg-2 order-1">
				<img class="img-fluid w-100 mb-60" src="{{ .Params.Image | absURL }}" alt="project image">
				<div class="project-content">
					{{ .Content }}
				</div>
			</div>
		</div>
	</div>
</section>
{{ "<!-- /project single -->" | safeHTML }}

{{ end }}