{{ define "main" }}

{{ partial "pageTitle.html" . }}

{{ "<!-- project single -->" | safeHTML }}
<section class="section">
	<div class="container">
		<div class="row">
			<aside class="col-lg-4 order-lg-1 order-2">
				{{ "<!-- overview -->" | safeHTML }}
				<div class="p-4 rounded border mb-50">
					<h4 class="text-color mb-20">{{ i18n "overview" }}</h4>
					<ul class="pl-0 mb-20">
						<li class="py-3 border-bottom"><span class="d-inline-block" style="width: 140px;">{{ i18n "project_name" }}:</span>{{ .Title }}</li>
						{{ range .Params.Overview }}
						<li class="py-3 border-bottom"><span class="d-inline-block" style="width: 140px;">{{ .label }}:</span>{{ .data }}</li>
						{{ end }}
					</ul>

					<div class="newsletter">
						<h4>Stay Updated</h4>
						<p>{{ i18n "newsletter_sub" }}</p>
							<form action="{{ .Site.Params.mailchimp_form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
							novalidate>
									<div class="mc-field-group">
										</label>
										<input type="email" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email">
									</div>
									<div class="mc-field-group">
										<input type="text" name="FNAME" id="mce-FNAME" placeholder="First Name">
									</div>
									<div class="mc-field-group">
										<input type="text" name="LNAME" id="mce-LNAME" placeholder="Last Name">
									</div>
									<div id="mce-responses" class="clear">
										<div class="response" id="mce-error-response" style="display:none"></div>
										<div class="response" id="mce-success-response" style="display:none"></div>
									</div>
									<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
									<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
											name="{{ .Site.Params.mailchimp_form_name }}" tabindex="-1"></div>
									<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
											class="button"></div>
							</form>
					</div>
					{{ if .Params.Live_demo }}
					<a href="{{ .Params.live_demo | safeURL }}" class="btn btn-primary">{{ i18n "live_demo" }}</a>
					
					{{ end }}
				</div>
				{{ "<!-- case study -->" | safeHTML }}
				{{ if .Params.Case_study }}
				<div class="rounded bg-gray border py-3 px-4 mb-50">
					<i class="d-inline-block mr-1 text-dark ti-files" style="font-size: 20px;"></i>
					<h4 class="mb-1 d-inline-block">{{ i18n "case_study" }}</h4>
					<a class="font-secondary text-color d-block ml-4"
						href="{{ .Params.Case_study | safeURL }}">{{ i18n "download_pdf" }}</a>
				</div>
				{{ end }}

				<div class="mb-50">
					<h5 class="mb-20">{{ i18n "free_consultation" }}</h5>
					{{partial "contactform.html"}}
				</div>
			</aside>
			{{ "<!-- project content -->" | safeHTML }}
			<div class="col-lg-8 order-lg-2 order-1">
				<img class="img-fluid w-100 mb-60" src="{{ .Params.Image | absURL }}" alt="project image">
				<div class="project-content">
					{{ .Content }}
				</div>
			</div>
		</div>
	</div>
</section>
{{ "<!-- /project single -->" | safeHTML }}

{{ end }}