{{ define "main" }}

{{ with .Params.about }}
<section class="section">
  <div class="container">
    <div class="row g-6 align-items-center justify-content-between">
      <div class="col-lg-6">
        <div class="pe-0 pe-lg-5">
          <h1 class="section-title h2">{{ .title | markdownify }}</h1>
          <p class="mb-0">{{ .content | markdownify }}</p>
        </div>
      </div>
      <div class="col-lg-6">
        {{ partial "image" (dict "Src" .image "alt" "About image" "Class" "w-100 rounded-1") }}
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ if .Content }}
<section class="section {{ if .Params.about }}pt-0{{ end }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 mx-auto">
        <div class="content">{{ .Content }}</div>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ end }}
