{{ "<!-- contact -->" | safeHTML }}
<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 offset-lg-1 col-md-5">
				<h2 class="section-title">{{ i18n "contact_us" }}</h2>
				<p><a href="https://calendly.com/justin-datafortress/15min">{{ i18n "contact_freeconsult"}}</a> </p>
				<ul class="pl-0">
					{{ "<!-- contact items -->" | safeHTML }}
					{{ range .Site.Params.contacts }}
					<li class="d-flex mb-30">
						<i class="round-icon mr-3 {{ .icon }}"></i>
						<div class="align-self-center font-primary">
							{{ range .contact }}
							<div class="text-dark">{{ .contact_item | safeHTML }}</div>
							{{ end }}
						</div>
					</li>
					{{ end }}
				</ul>
			</div>
			{{ "<!-- form -->" | safeHTML }}
			<div class="col-lg-6 col-md-7">
				<div class="p-5 rounded box-shadow">
					{{partial "contactform.html"}}
				</div>
			</div>
		</div>
	</div>
</section>
{{ "<!-- /contact -->" | safeHTML }}
