					<form action="{{ .Site.Params.contact_form_action | safeURL }}" method="POST" class="row">
						<div class="col-lg-12">
							<h3 class="mb-4">{{ i18n "contact_form" }}</h3>
						</div>
						<div class="col-lg-6">
							<input type="text" name="name" id="name" class="form-control" placeholder="Name" required>
						</div>
						<div class="col-lg-6">
							<input type="email" class="form-control" name="email" id="email" placeholder="Email Address" required>
						</div>
						<div class="col-lg-12">
							<input type="text" name="subject" id="subject" class="form-control" placeholder="Subject" required>
						</div>
						<div class="col-lg-12">
							<textarea class="form-control p-2" name="message" id="message" placeholder="Your Message Here..." required
								style="height: 150px;"></textarea>
						</div>
						<div class="col-lg-12">
							<button class="btn btn-primary" type="submit">{{ i18n "submit" }}</button>
						</div>
					</form>