{{ "<!-- page title -->" | safeHTML }}
<section class="page-title overlay" style="background-image: url('{{ .Params.bg_image | absURL }}'),url('{{`images/background/page-title.jpg` | relURL}}');">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="text-white font-weight-bold">{{ .Title }}</h2>
				<ol class="breadcrumb">
					<li><a href="{{ .Site.BaseURL }}">{{ .Site.Params.home }}</a></li>
					<li>{{ .Title }}</li>
				</ol>
			</div>
		</div>
	</div>
</section>
{{ "<!-- /page title -->" | safeHTML }}