{{ define "main" }}

{{ "<!-- 404 page -->" | safeHTML }}
<section class="page-404" style="background-image: url('{{ `images/background/404-page.webp` | absURL }}');">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h1 class="text-white font-weight-bold mb-2">Oh noo. This shouldn't have happened.</h1>
				<h4 class="text-white mb-40">The page you are looking for does not exist. Head back to home or <a href="/contact" >contact us for open questions</a>.</h4>
				<a href="{{ .Site.BaseURL | relLangURL }}" class="btn btn-primary"> <i class="ti-angle-double-left"></i> Back To Home</a>
			</div>
		</div>
	</div>
</section>
{{ "<!-- /404 page -->" | safeHTML }}

{{ end }}